@use '../../../../theming/responsive' as responsive;

.container {
  padding: 2rem;
  
  @include responsive.responsive('mobile') {
      padding: 1rem;
  }

  .button-group {
    display: flex;
    gap: 10px;
  }
}