@use '../../../../theming/colour' as colour;

.code-card {
  background-color: colour.$grey-300;
  color: colour.$white-100;
  padding: 1rem;
  border-radius: 8px;
  margin: 20px;
}

pre, code {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
}