@use '../../../../theming/colour' as colour;

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;

    .card {
        background: colour.$white;
        border-radius: 8px;
        padding: 1.5rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: transform 0.2s, box-shadow 0.2s;
        min-height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        &:hover {
            transform: translateY(-4px);
            box-shadow: 0 4px 8px rgba(0,0,0,0.15);
        }

        .icon {
            margin-left: 10px;;
        }

        .with-subtext {
            position: relative;

            .main-content {
                display: flex;
                align-items: center;
            }

            .subtext {
                position: absolute;
                font-size: 10px;
                bottom: -15px;
            }
        }
    }
}