// @use '@theming/_colour.scss' as colour;
@use '../../../theming/colour' as colour;

.login-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colour.$white-off;

  .login-box {
    display: flex;
    flex-direction: column;
  }
}
