<div class="button-group">
    <app-my-button title="Back" icon="arrow_back" (action)="goBack.emit()"></app-my-button>
    
    @if (showSaveGroup()) {
        <div class="save-group">
            <button matMiniFab (click)="save.emit()">
                <mat-icon title="Save">save</mat-icon>
            </button>

            <app-determinate-progress-spinner title="Auto Save" [progress]="autoSave.remainingSeconds() / autoSaveTimeSeconds * 100"></app-determinate-progress-spinner>
        </div>
    }
</div>
