<mat-progress-bar mode="indeterminate" *ngIf="store.loadingState() == loadingState.Loading"></mat-progress-bar>

<div class="container">
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
            Back
        </button>
        <button mat-raised-button color="primary" (click)="addCard()">Add Card</button>
    </div>

    <app-card-list [cards]="store.cards()" (updateCard)="updateCard($event)"></app-card-list>
</div>