@if(store.loadingState() == loadingState.Loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="container">
    <div class="button-container">
        <app-my-button title="Back" icon="arrow_back" (action)="goBack()"></app-my-button>
        <app-my-button title="Add Card" (action)="addCard()"></app-my-button>
        <app-my-button title="Import" (action)="import()" icon="upload"></app-my-button>
        <app-my-button title="Export" (action)="export()" icon="download_2"></app-my-button>
    </div>

    <app-card-list [cards]="store.cards()" [searchTerm]="store.searchTerm()" (updateCard)="updateCard($event)" (search)="search($event)"></app-card-list>
</div>