@use '../../../../theming/responsive' as responsive;

.container {
    padding: 30px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;

    @include responsive.responsive('tablet') {
        max-width: 100%;
    }
}

.sub-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    @include responsive.responsive('tablet') {
        flex-direction: column;
        width: 100%;

        mat-form-field {
            width: 100%;
        }
    }
}

mat-form-field {
    @include responsive.responsive('tablet') {
        width: 100%;
    }
}