@use '../../../../theming/colour' as colour;
@use '../../../../theming/responsive' as responsive;

.table {
    --mat-sys-surface: colour.$off-white;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px colour.$grey-800;

    th {
        background-color: colour.$blue-100;
    }

    @include responsive.responsive('mobile') {
        th, td {
            padding: 0.75rem;
        }
    }

    .mat-mdc-row {
        &:hover {
            background-color: colour.$white-100;
            cursor: pointer;
        }
    }

    .mat-column-studycount {
        width: 6%;
        text-align: center;
    }
}

.action-container {
    display: flex;
    gap: 10px;
    align-items: center;

    .filter {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .show-more {
        font-size: 13px;
    }
}

.no-data {
    padding: 1rem;
    text-align: center;
    color: colour.$gray-200;
}