// White Pallett
$white: white;
$white-off: #f9fafb;
$white-100: #f5f5f5;

// Gray Pallett
$gray-100: #666;

// Blue Pallett
$blue-100: #CDEDF9;
$blue-200: #5cc3e9;

// Red Pallett
$red-100: red;

// Orange Pallett
$orange-100: orange;