// White Pallett
$white: white;
$white-off: #f9fafb;
$white-100: #f5f5f5;

// Gray Pallett
$gray-200: #666;
$grey-300: #282c34;
$grey-800: #0000001a;

// Blue Pallett
$blue-100: #CDEDF9;
$blue-200: #5cc3e9;
$blue-300: #007bff;

// Red Pallett
$red-100: red;

// Orange Pallett
$orange-100: orange;

// Green Pallett
$green-300: #00ae00;