@use '@angular/material' as mat;
@use './colour' as colour;

:root {
    @include mat.form-field-overrides((
      filled-container-color: colour.$white-off,
    ));

    @include mat.sidenav-overrides((
      content-background-color: colour.$white,
    ));
}

mat-progress-bar {
  position: fixed !important;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 3;
}

mat-error {
  font-size: 12px;
}

.bottom-border-radius mat-paginator {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}