@use '@angular/material' as mat;
@use './colour' as colour;

:root {
    @include mat.form-field-overrides((
      filled-container-color: colour.$white-off,
    ));
}

mat-progress-bar {
  position: fixed !important;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 3;
}