<div class="deck-card" (click)="onDeckSelected(deck().id!)">
    <app-status-badge [complete]="reviewsToday()"></app-status-badge>
    <h3 class="header">{{ deck().deckName }}</h3>
    <p>{{ deck().description || 'No Description' }}</p>

    <div class="deck-meta">
      <div class="meta-info">
        <span>Cards: {{ deck().cardCount || 'unknown' }}</span>
        <span>Modified: {{ deck().updatedDate | date: 'd/M/yy, h:mm a' }}</span>
      </div>

      <app-deck-actions 
        (click)="$event.stopPropagation(); $event.preventDefault();" 
        (edit)="editDeck(deck().id!);" 
        (remove)="removeDeck(deck().id!)">
      </app-deck-actions>
    </div>
</div>
