@switch (buttonType()) {
  @case ('icon') {
    <button mat-icon-button type="button" (click)="action.emit()" [disabled]="disabled()">
      <mat-icon>{{ icon() }}</mat-icon>
    </button>
  }
  @default {
    <button class="button" type="button" [class.icon-responsive]="responsiveIcon()" [matButton]="matButtonType()" (click)="action.emit()" [disabled]="disabled()">
      @if (icon()) {
        <mat-icon>{{ icon() }}</mat-icon>
      }
      <span class="text">{{ title() }}</span>
    </button>
  }
}