<mat-progress-bar mode="indeterminate" *ngIf="store.loadingState() == loadingState.Loading"></mat-progress-bar>
<div class="deck-grid">
    <app-add-deck></app-add-deck>
    @for (deck of store.decks(); track deck.id) {
      <div class="deck-card" (click)="onDeckSelected(deck.id!)">
        <h3>{{ deck.deckName }}</h3>
        <p>placeholder: description</p>
        <div class="deck-meta">
          <span>Cards: placeholder cardcount</span>
          <span>Modified: {{ deck.updatedDate | date: 'd/M/yy, h:mm a' }}</span>
        </div>
      </div>
    }
</div>