<mat-progress-bar mode="indeterminate" *ngIf="store.loadingState() == loadingState.Loading"></mat-progress-bar>
<div class="deck-grid">
    <app-add-deck (addDeck)="addDeck()"></app-add-deck>

    @for (deck of store.decks(); track deck.id) {
      <div class="deck-card" (click)="onDeckSelected(deck.id!)">
        <h3>{{ deck.deckName }}</h3>
        <p>{{ deck.description ?? '' || 'No Description' }}</p>

        <div class="deck-meta">
          <span>Modified: {{ deck.updatedDate | date: 'd/M/yy, h:mm a' }}</span>
          <app-deck-actions 
            (click)="$event.stopPropagation(); $event.preventDefault();" 
            (edit)="editDeck(deck.id!);" 
            (remove)="removeDeck(deck.id!)">
          </app-deck-actions>
        </div>
      </div>
    }
</div>